<div class="pure-g-r">

    <div class="pure-u-4-24"> </div>
    <div class="pure-u-16-24"> 
      <div id="about">
      <h3>About Us</h3>
        Banjo Godard hoodie, normcore polaroid keytar Austin mlkshk. Shoreditch tattooed biodiesel, fanny pack sartorial narwhal aesthetic umami Neutra trust fund chia squid keytar. Occupy tofu swag biodiesel Truffaut. XOXO pickled bitters authentic, fixie butcher dreamcatcher 3 wolf moon hashtag freegan vegan four loko. Asymmetrical lomo cornhole four loko, you probably haven't heard of them fanny pack Marfa art party authentic High Life kitsch. Polaroid Echo Park ennui selvage. Try-hard Wes Anderson beard, meggings small batch hoodie mixtape next level blog readymade mustache authentic actually freegan.
      </div>
    </div>
    <div class="pure-u-4-24"></div>

</div>