/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400|Sigmar+One|Over+the+Rainbow);
html {
  background: url(penAndPaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='drew.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.drew.jpg ', sizingMethod='scale'); }
body {
  text-align: center; }

h1 {
  font-family: 'Over the Rainbow';
  background-color: white;
  opacity: 0.9;
  font-size: 4rem;
  margin: 1rem 1rem 1rem 0;
  padding: 0 0 0 0; }

h2 {
  font-family: 'Alegreya Sans SC';
  background-color: white;
  opacity: 0.9;
  margin: 0 0 1rem 0;
  font-size: 2rem; }

h3 {
  font-family: 'Alegreya Sans SC';
  font-size: 2rem; }

a {
  text-decoration: none;
  color: black;
  font-family: 'Over the Rainbow'; }

#share {
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  padding: 0 1rem;
  text-align: center;
  font-size: 2rem; }

#share:hover {
  background-color: #bbbbbb;
  color: white; }

.pure-menu-horizontal {
  opacity: 0.9; }

.pure-menu-horizontal ul li a {
  font-family: 'Alegreya Sans SC';
  color: black; }

#about {
  background-color: white;
  opacity: 0.9;
  font-family: 'Alegreya Sans SC';
  padding: 1rem; }

.contact {
  font-family: 'Alegreya Sans SC'; }

#contact-us {
  background-color: white;
  opacity: 0.9;
  padding: 1rem; }

.bg {
  background-color: white;
  opacity: 0.9;
  padding: 0 1rem; }

#sign-up:hover, #login:hover {
  color: #bbbbbb; }

#signin {
  background-color: white;
  color: black;
  padding: 2rem;
  font-family: 'Alegreya Sans SC';
  display: none; }

#signin #close {
  float: right;
  margin: 0; }

#signin h3 {
  margin: 0; }

#create_account {
  background-color: white;
  color: black;
  padding: 2rem;
  font-family: 'Alegreya Sans SC';
  display: none; }

#create_account #close {
  float: right;
  margin: 0; }

#create_account h3 {
  margin: 0; }

#sign-out a {
  font-family: 'Alegreya Sans SC';
  font-size: 1.25rem; }

.name {
  background-color: white;
  font-family: 'Alegreya Sans SC';
  font-size: 2rem; }
.new-user {
  background-color: white;
  opacity: 0.9;
  padding: 1rem; }

.new-user form {
  font-family: 'Alegreya Sans SC'; }

#user-profile {
  background-color: white;
  opacity: 0.9;
  padding: 1rem;
  text-align: left;
  columns: 150px 3;
  -webkit-columns: 150px 3;
  -moz-columns: 150px 3; }

#user-details {
  font-family: 'Alegreya Sans SC';
  font-size: 1.4rem; }

.pencil {
  float: right; }

#edit-user {
  background-color: white; }
#stories {
  background-color: white;
  opacity: 0.9;
  padding: 1rem; }

#stories h3 {
  font-family: 'Over the Rainbow';
  font-size: 2.5rem; }

.story-preview {
  columns: 200px 3;
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  font-family: 'Alegreya Sans SC'; }

h4 {
  font-family: 'Alegreya Sans SC';
  font-size: 2rem; }

#window {
  border: 2px solid black;
  border-radius: 10px;
  height: 300px;
  width: 60%;
  float: left;
  margin-right: 2rem; }

.categories {
  font-family: 'Alegreya Sans SC';
  font-size: 2rem;
  margin: 0 1rem; }

#dashboard {
  background-color: white;
  opacity: 0.9;
  padding: 1rem;
  text-align: left;
  overflow: hidden; }

#profile {
  text-align: left;
  width: 300px;
  height: 200px; }

#profile h4 {
  margin: 0 0 0.5rem 0; }

#profile img {
  margin: 0 0.5rem 0.5rem 0;
  float: left; }

#profile p {
  font-family: 'Alegreya Sans SC';
  padding: 0;
  font-size: 1.5rem; }

#record-story {
  background-color: white;
  opacity: 0.9; }

#record-story h3 {
  font-family: 'Over the Rainbow'; }

.add-story {
  font-family: 'Alegreya Sans SC'; }

#results {
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid black;
  min-height: 180px;
  margin-left: 2em;
  width: 88%;
  text-align: center; }

#status {
  color: white;
  text-align: center;
  margin-left: 6em; }

#record {
  background-color: transparent;
  text-align: center; }
