<div class="pure-g-r">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-16-24 new-user">
    <h3>Become a part of history!</h3>
    <form class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" name="first_name" placeholder="First Name">
        </div>

        <div class="pure-control-group">
            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" name="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="city">City</label>
            <input id="city" type="text" name="city" placeholder="City">
        </div>

        <div class="pure-control-group">
            <label for="state">State</label>
            <input name="state" id="state" type="text" placeholder="State">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input name="terms" id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </form>
    </div>
  <div class="pure-u-4-24"></div>
</div>