<div class="pure-g-r">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-16-24"> 
    <div id="user-profile">
      <img src="http://placekitten.com/g/300/300" />
      <div id="user-details">
        <p>Name: </p>
        <p>Gender: </p>
        <p>Age: </p>
        <p>City, State: </p>
        <p>Bio: </p>
      </div>
      <a href="#"><%= image_tag("pencil.png", class: "pencil") %></a>
    </div>
  </div>
  <div class="pure-u-4-24"></div>
</div>