<div class="pure-g-r">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-16-24 bg-story">
    <div id="story-header">
      <p>Story Title</p>
      <a class="pure-button pure-button-primary" href="#">Want to Add Pictures?</a>
    </div>

  </div>
  <div class="pure-u-4-24"></div>
</div>
