<div class="pure-g-r">
    <div class="pure-u-4-24"></div>
    <div class="pure-u-16-24">
      <div id="dashboard">
        <div id="profile">
          <h4>Welcome Back!</h4>
          <img src="http://placekitten.com/g/150/150" />
          <p>Name</p>
          <p>City, State</p>
        </div>
        <br />
        <div id="window"></div>
        <br />
        <h5 class="categories">My Stories</h5>
        <br />
        <h5 class="categories">My Connections</h5>
      </div>
    </div>
    <div class="pure-u-4-24"></div>
</div>