// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400|Sigmar+One|Over+the+Rainbow);

html {
  background: url(penAndPaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='drew.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.drew.jpg ', sizingMethod='scale');
}

body .pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Alegreya Sans SC', 'Over the Rainbow';
    text-align: center;
    color: black;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Over the Rainbow';
  text-align: left;
}

h2 {
  font-family: 'Alegreya Sans SC';
  text-align: left;
}

// Be careful choosing your ids, these are too generic
// Think of css style sheet as a your story.
// ids means the same thing as the #id (i.e the title)
// There is and can only be one
// where as a class is the same thing as a ( i.e. a title )
// there can be more than one.

#title {
  font-size: 4rem;
  background-color: white;
  opacity: 0.9;
  padding-left: 0.75rem;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

#subtitle {
  font-size: 2.25rem;
  background-color: white;
  opacity: 0.9;
  padding-left: 0.75rem;
  margin-top: .25rem;
}

#button {
  background-color: white;
  opacity: 0.9;
  border-radius: 15px;
  font-family: 'Over the Rainbow';
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

#button:hover {
  background-color: #bbbbbb;
  color: white;
}

#push {
  text-align: center;
  margin-top: 10em;
}

.pure-menu.pure-menu-open {
  background: white;
  opacity: 0.9;
  color: black;
}

.pure-menu.pure-menu-open a {
  color: black;
}

.pure-menu.pure-menu-open a:hover {
  background-color: #bbbbbb;
  color: white;
}

#login {
  background-color: white;
  opacity: 0.9;
  float: right;
  padding: .25em .75em;
}

#results {
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid black;
  min-height: 180px;
  margin-left: 2em;
  width: 100%;
  text-align: center;
}

#status {
  color: white;
  text-align: center;
  margin-left: 6em;
}
#record {
  background-color: transparent;
  text-align: center;
  margin-left: 6em;
}

form {
  color: white;

}

#btn {
  color: black;
  background-color: white;
  padding: 0 1rem;
  border-radius: 5px;
}

#message {
  display: none;
  text-align: left;
  color: white;
  font-size: 2em;
}

#container {
  background-color: white;
  opacity: 0.9;
  margin: 1em;
  padding: 1em;
}

.marg {
  background-color: white;
  margin: 2em;
  padding: 1em;
}