// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user { background-color: white; opacity: 0.9; padding: 1rem; }

.new-user form { font-family: 'Alegreya Sans SC'; }

#user-profile { background-color: white; opacity: 0.9; padding: 1rem; text-align: left; columns: 150px 3; -webkit-columns: 150px 3; -moz-columns: 150px 3; }

#user-details { font-family: 'Alegreya Sans SC'; font-size: 1.4rem; }

.pencil { float: right; }

#edit-user { background-color: white; }

