// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user { background-color: white; opacity: 0.9; padding: 1rem; }

.new-user form { font-family: 'Alegreya Sans SC'; }

